*
{
	margin:0;
	padding:0;
}
a,
a:visited
{
	text-decoration:none;
	outline:none;
	color:#fff;
}
a:hover
{
	text-decoration:underline;
	color:#ddd;
}
     /*the footer*/
footer
{
	background:#444 url("../images/bg-footer.png") repeat;
	position:fixed;
	width:100%;
	height:70px;
	bottom:0;
	left:0;
	color:#fff;
	text-shadow:2px 2px #000;
	-moz-box-shadow:5px 1px 10px #000;
	-webkit-box-shadow:5px 1px 10px #000;
	box-shadow:5px 1px 10px #000;
}
footer h1
{
	font:25px/26px Acens;
	font-weight:normal;
	left:50%;
	margin:0px 0 0 150px;
	padding:25px 0;
	position:relative;
	width:400px;
}
footer a.orig,
a.orig:visited
{
	background:url("../images/demo2.png") no-repeat right top;
	border:none;
	text-decoration:none;
	color:#FCFCFC;
	font-size:14px;
	height:70px;
	left:50%;
	line-height:50px;
	margin:12px 0 0 -400px;
	position:absolute;
	top:0;
	width:250px;
}
     /*styling for the clock*/
#clock
{
	position: relative;
	width: 600px;
	height: 600px;
	list-style: none;
	margin: 20px auto;
	background: url('../images/clock.png') no-repeat center;
	
}
#seconds,
#minutes,
#hours
{
	position: absolute;
	width: 30px;
	height: 580px;
	left: 270px;
}
#date
{
	position: absolute;
	top: 365px;
	color: #666;
	right: 140px;
	font-weight: bold;
	letter-spacing: 3px;
	font-family: "微软雅黑";
	font-size: 30px;
	line-height: 36px;
}
#hours
{
	background: url('../images/hands.png') no-repeat left;
	z-index: 1000;
}
#minutes
{
	background: url('../images/hands.png') no-repeat center;
	width:25px;
	z-index: 2000;
}

#seconds
{
	background: url('../images/hands.png') no-repeat right;
	z-index: 3000;
}
