{#如果只有一个Master则说明是单Master架构#}
{% if groups['master'] | length == 1 %}
    {% set apiserver = groups['master'][0] %}
{% elif groups['master'] | length > 1 %}
    {% set apiserver = vip %}
{% endif %}

apiVersion: v1
clusters:
- cluster:
    certificate-authority: {{ k8s_work_dir }}/ssl/ca.pem
    server: https://{{ apiserver }}:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubelet-bootstrap
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: kubelet-bootstrap
  user:
    token: c47ffb939f5ca36231d9e3121a252940
